---
layout: default
---
  {% include content.html %}
  {% if site.posts.size > 0 %}
  <div class="" style="max-width:768px;margin-top:20px;">
    
    {% for post in paginator.posts %}
    <div class="border-bottom" style="margin: 30px 0px;">

      <div class="">
        <a class="text-dark" href="{{ post.url | relative_url }}"><h5 class="card-title">{{ post.title | escape }}</h5></a>

        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <p class="small">
            {% if post.author %} {{ post.author }} {% else %} {{site.author}} {% endif %}
          <i>{{ post.date | date: date_format }}</i>
        </p>

        {% if post.tags %}
          <div class="tag-container" style="padding-bottom:10px;">
          {% for tag in post.tags %}
            <div class="btn btn-outline-info"><a href="{{site.baseurl}}/?tag={{tag}}" style="color:inherit; text-decoration:none;">{{tag}}</a></div>
          {% endfor %}
        </div>
        {% endif %}

        <div class="text-muted">
          {% if post.excerpt %} {{ post.excerpt }} {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include paginator.html %} {% endif %}
<script type="text/javascript" src="{{site.baseurl}}/asssets/js/tap-handle.js"></script>