---
layout: default
---
<div class="" style="max-width:768px;">
  {% if site.posts.size > 0 %}
  <div class="" style="margin-top:20px;">
    {% for post in paginator.posts %}
    <div class="border-bottom" style="margin: 30px 0px;">

      <div class="">
        <a class="text-dark" href="{{ post.url | relative_url }}"><h5 class="card-title">{{ post.title | escape }}</h5></a>

        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <p class="small">
            {% if post.author %} {{ post.author }} {% else %} {{site.author}} {% endif %}
          <i>{{ post.date | date: date_format }}</i>
        </p>
        <div class="text-muted">
          {% if post.excerpt %} {{ post.excerpt }} {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include paginator.html %} {% endif %}
</div>