---
layout: default
---
<div class="container" style="max-width:768px;padding-top:20px;">
  <h2>{{ page.title | escape }}</h2>
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
  <p class="small">
      {% if page.author %} {{ page.author }} {% else %} {{site.author}} {% endif %}
    <i>{{ page.date | date: date_format }}</i>
  </p>

  {% if page.tags %}
    <div class="tag-container" style="padding-bottom:10px;">
    {% for tag in page.tags %}
      <div class="btn btn-outline-info"><a href="" style="color:inherit; text-decoration:none;">{{tag}}</a></div>
    {% endfor %}
  </div>
  {% endif %}
  <p>{{ content }}</p>
</div>
{% if page.comments %} 
  {% include comment.html %}
{% endif %}
